:root {
  font-family: Nunito;
}
body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: calc(100vh - 64px);
  display: block;
  margin-top: 64px;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* ── Battle menu toggle ─────────────────────────────────────── */

.block {
  display: block;
}

.none {
  display: none;
}

.container {
  position: absolute;
  top: 70%;
  left: 75%;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
